name: Build LLVM

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build LLVM
        run: |
          ./build.ps1 -Version "${{ github.ref_name }}" -Fake
        shell: pwsh

      - name: Rename artifact
        shell: pwsh
        run: |
          $Version = "${{ github.ref_name }}"
          $NewName = "LLVM-$Version-msvc-x64.zip"
          Rename-Item -Path LLVM.zip -NewName $NewName

      - name: Create GitHub Release and upload artifact
        uses: softprops/action-gh-release@v2
        with:
          files: LLVM-${{ github.ref_name }}-msvc-x64.zip

